* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
  }
  
  h1, h2, h3, h4, h5, h6, p {
    margin-top: 0;
    margin-bottom: 0;
  }
  
  h1 {
    font-size: 2em;
  }
  
  a {
    color: var(--blue);
    text-decoration: none;
  }
  
  button {
    border-radius: 0;
    background-color: var(--gray);
    padding: 0;
    border: none;
    text-align: center;
    cursor: pointer;
    user-select: none;
  }
  
  img {
    user-select: none;
  }
  
  :root {
    --red: #fa2f2f;
    --orange: #fa9600;
    --yellow: #fcdf21;
    --green: #2da154;
    --blue: #3561BB;
    --purple: #9a3cc9;
    --black: #000000;
    --gray: #999999;
    --white: #ffffff;
  }